.App {
  text-align: center;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.search_panel {
  box-shadow: 1px 1px 5px #ddd;
  background-color: #f3f3f3;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

footer {
  background-color: #4d4d4d;
  color: #fff;
  padding: 1em 0;
}